{% extends 'base.html' %}

{% block header %}
{% include "navbar.html" %}
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% include 'messages.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Create a new branch</h4>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <!-- Branch Name Field -->
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Branch Name:</label>
                            <input type="text" name="name" id="id_name" class="form-control" required>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-primary">Create Branch</button>
                            <a href="{% url 'repository_branches' repository.id %}" class="btn btn-outline-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
